.container {
  text-align: center;
}

.title {
  font-size: 24px;
  color: dodgerblue;
  margin-bottom: 20px;
}

.add-student,
.view-student {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.student-txt {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-btn,
.view-btn {
  background-color: rgb(78, 207, 78);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover,
.view-btn:hover {
  background-color: rgb(103, 177, 103);
}
